**/node_modules/
**/test-results/
**/playwright-report/
**/html-report/
**/artifacts
playwright-assignment/node_modules/
playwright-assignment/test-results
playwright-assignment/html-report
playwright-assignment/playwright-report
**/LoginAuth.json